@charset "UTF-8";

body{
    background-image: url('IMAGE/fundo.jpg');
}
.indice{
    background-color: rgb(250, 250, 250);
    padding: 20px 22px;
    border: 2px solid rgb(65, 65, 65)

}
img{
    max-width: 350px;
}

*{
    margin: 0px;
    padding: 0px;
} 


ul{
    list-style: none;
    margin: 0;
    padding:0%;
    overflow: hidden;
    font-family: 'Goldman','Oswald','Vina Sans';
    font-size: 0.8em;
    background-color: black;
    border: 2px solid rgb(32, 32, 32);
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
menu#menu{
    display: none;
}
span#burguer{
    color: #ffffff;
    background-color: #0a0a0a;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    color:navy;
    background-color: grey;
}

a:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(102, 101, 101);
    text-decoration: underline;
    transition: 0.4s;
    border-radius: 3px;
}
a:active{
    color: black;
    background-color: rgb(250, 250, 250);
}

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.paragrafos{
    font-family: 'Roboto Condensed', sans-serif;


}

.banner{
    margin: 22px;
    padding: 20px 22px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
main{
    background-color: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}
.selo{
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

.ceo{
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}
.subtitulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    margin: 15px 0px;
}
.projeto{
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

.sliders{
    margin: auto;
   overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
    overflow: hidden;
}
.slides input{
    display: none;
    
}
.slide{
    width: 25%;
    transition: 2s;
    position: relative;
}
.slide img{
    margin: auto;
    display: block;
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display:flex;
    justify-content: center;
}
.manual-btn{

    border: 2px solid #1f1f1f;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #000000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    background-color: rgb(212, 212, 212);
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}


.sub{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    margin: 15px 0px;
    text-align: center;
}
.banner1{
display: inline-block;
   
}
.tituloserv{
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}
.serviço1{
    background-color: rgba(128, 128, 128, 0.24);
    text-align: center;
    font-family:'Oswald', sans-serif;
    
}
.mix{
    border-radius: 30px;
    width:100%;
    padding: 20px 22px;
    max-width: 350px;
    margin-bottom: 30px;
}
.mixprod{
    background-image: url('IMAGE/prod.jpg');
    background-position: center center;
    margin-bottom: 10px;
}
.serviço2{
    background-color: rgba(128, 128, 128, 0.24);
    text-align: center;
    font-family:'Oswald', sans-serif;
    
}
.visual{
   border-radius: 50px;
    width:100%;
    padding: 20px 22px;
    max-width: 350px;
    margin-bottom: 30px;
}
.v2{
    background-image: url('IMAGE/visual.jpg');
    margin-bottom: 30px;
  
}
.serviço3{
    background-color: rgba(128, 128, 128, 0.24);
    text-align: center;
    font-family:'Oswald', sans-serif;
}
.mkt{
    width:100%;
    padding: 20px 22px;
    max-width: 350px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.mkt2{
    background-image: url('IMAGE/mkt.webp');
    background-position: center center;
    margin-bottom: 30px;
}
p{
  font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  margin: 15px 0px;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;

}

.CEO{
    font-family:'Oswald', sans-serif;
}
.PRINCE{
    background-color: rgba(128, 128, 128, 0.24);
    text-align: center;
    font-family:'Oswald', sans-serif;
    
}
.video{
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
}



footer{
    color: #ffffff;
    font-family:'Oswald', sans-serif;
    text-align: center;
    background-color: black;
    padding: 8px;
   
}

footer a{
    text-decoration: none;
    color: white;

}

/*estilo da pág "cadastre-se"*/


#titulo{
    background-color: rgb(0, 0, 0);
    font-family:'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 8px;
}
fieldset{
    border: 0;
}
.b2{
    font-family:'Oswald', sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 1px 1px 3px 3px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: rgb(0, 0, 0);
    display: block;
}
fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo input[type="password"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid black;
    border-radius: 1px 1px 3px 3px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    display: block;
}
.campo select option{
    padding-right: 1em;

}

.botao{
    border-radius: 8px;
    font-size: 1.6em;
    font-family:'Oswald', sans-serif;
    background-color:rgb(0, 0, 0);
    border: 0;
    margin-bottom: 3em;
    color: rgb(252, 252, 252);
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    cursor:pointer;
}
.botao:hover{
    color:navy;
    background-color: grey;
    text-decoration: underline;
}
.botao:active{
    color: black;
    background-color: rgb(250, 250, 250);
}
footer a{
    text-decoration: none;
    color: white;
    
}

/*estilo página login */

    .main-login{
       background: #ffffff;
    }
.area-login{
    padding: 15px;
    border: #000000 solid 1px;
    background-image: linear-gradient( rgb(117, 117, 117), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0px 0px 10px 10px;
   
}
.area-login::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff,#45f3ff);
}
.login{
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 355px;
    height: 320px;
    padding: 35px;
}
.login form{
    font-family:'Oswald', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login input{
    font-family: 'Goldman','Oswald','Vina Sans';
    color: #000000;
    margin-top: 10px;
    background-color: rgb(236, 236, 236);
    border: black 1px solid;
    height: 45px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    text-transform: uppercase;

}

.hlogin{
    font-family: 'Goldman','Oswald','Vina Sans';
    color: #8b8b8b;
    padding: 15px;
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    border: #000000 solid 1px;
}

.input::placeholder{
    font-family: 'Goldman','Oswald','Vina Sans';
    color: #000000;
    font-size: 14px;
}

.botao2{
    margin-top: 9px;
    border-radius:8px;
    padding: 15px;
    text-align: center;
    font-family: 'Goldman','Oswald','Vina Sans';
    display: block;
    background-color: #5568fe ;
    font-size: 20px;
    font-weight: bold;
    color: #0a0a0a;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.login img{
    width: 150px;
}
.login > h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 18px;
    border-radius: 30px;
   
}
.login > p{
    
    font-family:'Oswald', sans-serif;
    color:#ffffff
}
.login > p > a{
    color:  #5568fe ;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'Oswald', sans-serif;

}
.login > p > a:hover{
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    text-decoration: underline;
}
